<a href="https://colab.research.google.com/github/redouan-akdim/ADA-Practical-Assignments/blob/main/HandsOnPython_01_PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics
Dieses Notebook zeigt die wichtigsten Basics zum Nutzen von jupyter Notebooks und Python.

## Zellen
Das Notebook besteht aus verschiedenen Zellen. Eine Zelle kann durch Drücken von Shift + Enter (oder in Google Colab auch durch Drücken des Play-Knopfes) ausgeführt werden. Zellen können Infotexte enthalten (Text bzw. Markdown), oder
Code.

## Die Print Funktion

In [ ]:
a=0
b=3
c="In"
d="lerne ich Datenanalyse mit Python!"
e="Komma nix"

#Wie müssen Sie die print Funktion füllen, damit der Satz ausgegeben wird "In 0 Komma nix lerne ich Datenanalyse mit Python!"?
print(c,a,e,d)

In 0 Komma nix lerne ich Datenanalyse mit Python!

## Kommentare in Python
- Welche beiden Möglichkeiten für Kommentare in Python kennen Sie?
- Probieren Sie beide aus.

In [ ]:
# Das ist ein einfacher Kommentar
"""
Das ist ein mehrzeiliger Kommentar (oder auch: Docstring)
"""


## Operatoren und if/else Abfragen
- Definieren Sie sich eine Variable x, der Sie zunächst den Wert 10 zuweisen.
- Formulieren Sie nun eine Abfrage: Falls x größer oder gleich 10 ist, soll die Variable y als x hoch x berechnet werden...
- und anschließend mit der print Funktion ausgegeben werden.
- Setzen Sie x oben in der Zelle nun nicht mehr auf 10, sondern auf 10000.
- Setzen Sie x oben in der Zelle nun nicht mehr auf 10000, sondern auf 0.

In [ ]:
x = 10

if x >= 10:
  y = x**x
  print(y)

# Bei x = 10000 -> ValueError: Exceeds the limit (4300) for integer string conversion; use sys.set_int_max_str_digits() to increase the limit
# Bei x = 0 -> Keine Ausgabe, da 0 < 10!

10000000000

## if/else Abfragen mit logischen Operatoren
- Definieren Sie sich zwei Variablen completed und valid, die zunächst beide den Wert False haben.
- Falls completed und valid beide True sind, soll folgender Text ausgegeben werden: "Die Berechnung war erfolgreich."
- Ansonsten soll ausgegeben werden: "Die Berechnung war leider nicht erfolgreich."
- Zudem soll bei nicht erfolgreicher Berechnung der Wert von completed und valid ausgegeben werden.
- Überprüfen Sie Ihre Implementierung durch Variieren der Werte von valid und complete

In [ ]:
completed = True
valid = True

if completed and valid:
  print("Die Berechnung war erfolgreich.")
else:
  print("Die Berechnung war leider nicht erfolgreich.")
  print("completed:",completed,"\nvalid:",valid)

Die Berechnung war erfolgreich.

## Definieren von Funktionen
- Schreiben Sie eine Funktion, die den Betrag der Zahl x ausgibt
- Definieren Sie eine Variable z. Wenden Sie Ihre Funktion auf z an. Variieren Sie den Wert von z.

In [ ]:
def print_absolute_value(x):
  print(abs(x))

z = -888.6547
print_absolute_value(z)

888.6547

## Einbinden von Bibliotheken
- Bibliotheken (oder auch Pakete, Module genannt) wie pandas, numpy, matplotlib bieten Funktionalitäten zur Datenauswertung und -visualisierung.
- Um diese nutzen zu können, müssen sie über den import Befehl eingebunden werden.
- Häufig wird dabei direkt ein Kürzel für das jeweilige Paket vergeben (z.B. pd für pandas, np für numpy), um einfacher auf die jeweiligen Methoden zugreifen zu können.
- Zugriff auf eine Methode einer Bibliothek z.B. über np.methodenname() falls Kürzel vergeben
- über numpy.methodenname() falls kein Kürzel vergeben

- Aufgabe: importieren Sie numpy, definieren Sie sich eine Variable y, lassen Sie sich den Sinus Hyperbolicus dieser Variable ausgeben

In [ ]:
import numpy as np
y = np.pi
print(y)
np.sinh(y)

3.141592653589793

11.548739357257748